[submodule "Notflix"]
	path = Notflix
	url = git@github.com:NotBeCursed/Notflix.git
[submodule "Hugo"]
	path = Hugo
	url = git@github.com:NotBeCursed/Hugo.git
[submodule "Wireguard"]
	path = Wireguard
	url = git@github.com:NotBeCursed/Wireguard.git
[submodule "TIG"]
	path = TIG
	url = git@github.com:NotBeCursed/TIG.git
[submodule "NginxProxyManager"]
	path = NginxProxyManager
	url = git@github.com:NotBeCursed/NginxProxyManager.git
